<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>AngularJS - Test 1</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
</head>
<body>
<form data-ng-app="app" data-ng-controller="personController" name="f" novalidate>
    <div class="col-sm-3">
        <h3>Fibonacci
        </h3>
        <ul>
            <li data-ng-repeat="i in list() track by $index">{{ i }}</li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6">
        <h3>Form</h3>
        <label for="firstname">First name: </label>
        <input type="text" name="firstname" id="firstname" data-ng-model="person.firstname" class="form-control" data-ng-disabled="disabled" required />
        <span data-ng-show="f.firstname.$dirty && f.firstname.$invalid" style="color: red;" class="col-xs-12">
            <span data-ng-show="f.firstname.$error.required">First name is required!</span>
        </span>
        <label for="lastname" name="lastname" required>Last name: </label>
        <input type="text" id="lastname" data-ng-model="person.lastname" class="form-control" data-ng-disabled="disabled" />
        <label for="disable" style="display:block;"><input type="checkbox" id="disable" data-ng-model="disabled" /> Disable form</label>
        <button data-ng-disabled="disabled" data-ng-disabled="disabled" class="btn btn-primary form-control" data-ng-click="disabled = true">Click here</button>
        <hr />
        <p>
            Welcome {{fullname() | uppercase}},
        </p>
        <hr />
        <div class="row" data-ng-show="disabled">
            <div class="col-xs-12">
                <label for="nameFilter">Filter</label>
                <input type="text" id="nameFilter" data-ng-model="nameFilter" class="form-control" />
            </div>
            <div class="col-xs-12"><hr /></div>
            <span class="col-xs-6 col-md-4 col-lg-3" data-ng-repeat="p in users | filter:nameFilter | orderBy:'username'">
                {{p.name + " (" + p.username + ")"}}
            </span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3"></div>
</form>

<script>

    var app = angular.module('app', []).
        controller('personController', function ($scope, $http) {
            $scope.nameFilter = "";
            $scope.disabled = false;
            $scope.person = {
                firstname: "Thomas",
                lastname: "Nagele"
            };
                $scope.users = [];
            $http.get("api.php").success(function(resp) {
               $scope.users = resp;
            });

            $scope.list = function() {
                var list = [];
                for (var i = 0; i < 30; i++)
                    list[i] = i <= 1 ? i : list[i - 2] + list[i - 1];
                return list;
            };
            $scope.fullname = function() {
                return $scope.person.firstname + " " + $scope.person.lastname;
            };
        });

</script>
</body>
</html>