<!DOCTYPE html>
<html data-ng-app="app" data-ng-controller="Test3Controller">
<head lang="en">
    <meta charset="UTF-8">
    <title>AngularJS Example</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
    <script src="js/angular.min.js"></script>
</head>
<body>
Please enter your name:
<input type="text" data-ng-model="name">
<button data-ng-click="clickEvent()">Click here!</button>
<h3>Welcome {{name}}!</h3>
<table data-ng-show="name.length > 0" border="1" cellspacing="0" cellpadding="5">
	<tr>
		<th>Name</th>
		<th>Admin</th>
	</tr>
	<tr data-ng-repeat="role in roles | orderBy:'-name'">
		<td>{{role.name}}</td>
		<td>{{role.admin ? "yes" : "no" }}</td>
	</tr>
</table>
<script>
var app = angular.module('app', []).
    controller('Test3Controller', function ($scope) {
    	$scope.roles = [
    		{ name: "Administrators", admin: true },
    		{ name: "Teachers", admin: false },
    		{ name: "Students", admin: false }
    	];
    	
    	$scope.clickEvent = function() {
    		alert($scope.name + " clicked the button!");
    	};
    });
</script>
</body>
</html>
