<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>AngularJS - Users</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />
    <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
</head>
<body>
<div class="row">
    <div class="hidden-xs col-sm-2"></div>
    <div data-ng-app="app" data-ng-controller="userController" class="col-xs-12 col-sm-8">
        <div class="row">
            <h4>Users</h4>
            <div class="row">
                <div class="col-xs-6">
                    <button class="btn btn-success" data-ng-click="userVisible = true">
                        <span class="glyphicon glyphicon-plus"></span> Create
                    </button>
                </div>
                <div class="col-xs-6" style="text-align: right;">
                    <button class="btn btn-default" data-ng-click="importVisible = true">
                        <span class="glyphicon glyphicon-import"></span> Import
                    </button>
                    <button class="btn btn-default" data-ng-click="exportVisible ? resetExport() : export()">
                        <span class="glyphicon glyphicon-export"></span> Export
                    </button>
                </div>
            </div>

            <div data-ng-show="importVisible">
                <label for="importText">Paste the JSON to import in the textarea below.</label>
                <textarea name="importText" rows="5" class="form-control" data-ng-model="importText"></textarea>
                <button class="btn btn-primary" data-ng-click="import()">Import now</button>
                <button class="btn btn-default" data-ng-click="resetImport()">Cancel</button>
                <hr />
            </div>

            <div data-ng-show="exportVisible">
                <label for="exportText">Save this JSON text and import it later.</label>
                <textarea name="exportText" rows="5" class="form-control" data-ng-model="exportText"></textarea>
            </div>

            <div data-ng-show="userVisible">
                <div class="col-xs-12 col-sm-5">
                    <hr />
                    <label for="firstName">First name</label>
                    <input type="text" id="firstName" class="form-control" data-ng-model="user.firstName" />
                    <label for="lastName">Last name</label>
                    <input type="text" id="lastName" class="form-control" data-ng-model="user.lastName" />
                    <label for="street">Street</label>
                    <input type="text" id="street" class="form-control" data-ng-model="user.address.street" />
                    <label for="postal">Postal code</label>
                    <input type="text" id="postal" class="form-control" data-ng-model="user.address.postal" />
                    <label for="city">City</label>
                    <input type="text" id="city" class="form-control" data-ng-model="user.address.city" />
                    <label for="member"><input type="checkbox" id="member" data-ng-model="user.member" /> Is a member</label>
                    <div>
                        <button class="btn btn-primary" data-ng-click="addUser()">Save user</button>
                        <button class="btn btn-default" data-ng-click="resetUser()">Cancel</button>
                    </div>
                    <hr />
                </div>
            </div>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Street</th>
                        <th>Postal code</th>
                        <th>City</th>
                        <th>Member</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="u in users">
                        <td>{{u.firstName}}</td>
                        <td>{{u.lastName}}</td>
                        <td>{{u.address.street}}</td>
                        <td>{{u.address.postal}}</td>
                        <td>{{u.address.city}}</td>
                        <td><span class="glyphicon glyphicon-{{u.member ? 'ok' : 'remove'}}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="hidden-xs col-sm-2"></div>
</div>

<script>
    var app = angular.module('app', []).
            controller('userController', function($scope) {
                $scope.users = [];

                $scope.resetUser = function() {
                    $scope.userVisible = false;
                    $scope.user = {
                        firstName: "",
                        lastName: "",
                        address: {
                            street: "",
                            postal: "",
                            city: ""
                        },
                        member: false
                    };
                };
                $scope.addUser = function() {
                    $scope.users[$scope.users.length] = $scope.user;
                    $scope.resetUser();
                };

                $scope.resetExport = function() {
                    $scope.exportVisible = false;
                    $scope.exportText = "[ ]";
                };
                $scope.export = function() {
                    $scope.exportText = JSON.stringify($scope.users);
                    $scope.exportVisible = true;
                };

                $scope.resetImport = function() {
                    $scope.importText = "[ ]";
                    $scope.importVisible = false;
                };
                $scope.import = function() {
                    $scope.users = JSON.parse($scope.importText);
                    $scope.resetImport();
                };

                $scope.resetExport();
                $scope.resetImport();
            });
</script>

</body>
</html>